<mat-toolbar>  

  <mat-toolbar-row>
    <button mat-button color="primary" routerLink="/">Home</button> <br>
    <button mat-button color="primary" routerLink="/login" >Login</button><br>
    <button mat-button color="primary" routerLink="/services">Services</button><br>
    <button mat-button color="primary" routerLink="/search">Search</button><br>
    <button mat-button color="primary" routerLink="/contactus">ContactUs</button><br>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
